 *{
     padding: 0;
     margin: 0;
     box-sizing: border-box;
 }

 $mainBlack: #222222;
 $mainWhite: #ffffff;
 $mainGreen: #82b340;
 $mainGrey: #ececec;
 $mainOrange: #FF4500;

 body{
     background: $mainOrange;
     color: $mainBlack;
     font-family: 'Open Sans', sans-serif;
 }